<div class="row">
	<div class="span3">
  		<div class="center hero-unit">   
  			<h2>Menu</h2>
  				<h5> The Three </h5>
  				<h5> Profile </h5>
		  		<h5> Following </h5>
		  		<h5> Followers </h5>
		</div>
	</div>
	<div class="span 6">
		<h1>About</h1>
		<p>
			<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
			is a project to teach
			<%= link_to "Ruby on Rails", "http://rubyonerails.org" %>
			in one month.  This is the sample application.
		</p>
	</div>
</div>