<div class="row">
  <div class="span4">
  	<h3>Menu Bar example</h3>

  </div>
  
  <div class="span8"><h1>Andrew Hausdorf</h1>

	<p>
		I'm learning to code from scratch.  
		Follow on Twitter 
		<%=link_to "@haus_", "http://twitter.com/haus_" %>

	</p>

	<p>
		This is my personal screw around page.
	</p>

</div>
</div>