<div class="row">
	<div class="span3">
  		<div class="center hero-unit">   
  			<h2>Menu</h2>
  				<h5> The Three </h5>
  				<h5> Profile </h5>
		  		<h5> Following </h5>
		  		<h5> Followers </h5>
		</div>
	</div>
  
  <div class="span8">

  	<h1>Login</h1>

	<p>
		Username: 
	</p>

	<p>
		Password: 
	</p>

<h1>Sign-up</h1>

	<p>
		Username:
	</p>

	<p>
		Password: 
	</p>		

	<p>
		Confirm Password: 
	</p>			

</div>
</div>